.question-answers-item{
    background-color: #f5f5f5;
    color: #ccc;
    padding: .5rem;
    transition: ease 150ms;
  }
  
  .question-answers-item-wrapper--unanswered:hover .question-answers-item{
    background-color: #6441a5;
    color: white;
    transition: ease 150ms;
  }
  
  .question-answers-item--correct{
    background: #33ff77;
  }
  
  .question-answers-item-wrapper--chosen .question-answers-item{
    background: #6441a5;
    color: white;
    border-radius: 2rem;
  
  }
    
  .question-answers-item-wrapper{
    border-radius: 2rem;
    border: .5rem solid #f5f5f5;
    margin: .5rem 0;
    background: white;
    position: relative;
    transition: ease 150ms;
  }
  
  .question-answers-item-wrapper--unanswered .question-answers-item{
    color: black;
  }

  .question-answers-item-wrapper--unanswered:hover{
    border-color: #6441a5;
    background-color: #6441a5;
    transition: ease 150ms;
  }
  
  .question-answers-item-wrapper--chosen{
    border-color: #6441a5;
    background: #6441a5;
  }
  
  .question-answers-item--correct{
    background: #33ff77;
    padding: 1rem;
    border-radius: 2rem;
    margin: -.5rem;
    color: black;
  }